<div id="<%= dom_id book_payment %>">
  <p>
    <strong>Payment proof:</strong>
    <%= book_payment.payment_proof %>
  </p>

  <p>
    <strong>Is valid payment:</strong>
    <%= book_payment.is_valid_payment %>
  </p>

</div>
