<h1>Editing date mentor</h1>

<%= render "form", date_mentor: @date_mentor %>

<br>

<div>
  <%= link_to "Show this date mentor", @date_mentor %> |
  <%= link_to "Back to date mentors", date_mentors_path %>
</div>
