<div id="<%= dom_id payment_mentor %>">
  <p>
    <strong>Payment proof:</strong>
    <%= payment_mentor.payment_proof %>
  </p>

  <p>
    <strong>Is valid payment:</strong>
    <%= payment_mentor.is_valid_payment %>
  </p>

</div>
