<<<<<<< HEAD
<h1>New payment mentor</h1>

<%= render "form", payment_mentor: @payment_mentor %>

<br>

<div>
  <%= link_to "Back to payment mentors", payment_mentors_path %>
</div>
=======
<h1>New payment mentor</h1>

<%= render "form", payment_mentor: @payment_mentor %>

<br>

<div>

  <%= link_to "Back to payment mentors", payment_mentors_path %>
</div>
>>>>>>> 44f0b03d097c8b08eaf45a4bd8d4d066cc0de6f4
